@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@100&family=Trispace&display=swap');

@mixin cero {
    margin: 0 !important;;
    padding: 0 !important;;
  }

// To take off the margin, the padding and the font pre setted value on the Material Ui Style sheet 
.StyleSheet > div{@include cero;}
.StyleSheet *{font-family: 'Grandstander', cursive !important; box-sizing: border-box;text-align: center; }   
//

.head{text-decoration: underline;width: 100%;}

.dev{h2{width: 100%; font-size: 28px;}img{margin:3% 5%}}
.hobbies{@include cero; font-size: 20px; li{list-style: none;}}

#cards > div{display: inline-block;}
#cards *{font-weight: bolder;}

.Pdark{border: 1px solid gray;}

.img{width: 200px}
.img1{width: 150px}
.img2{width: 170px}
.img3{width: 240px}


@media (max-width:600px){
  .head{font-size: 25px !important;}
  .img{width: 130px !important;}
  .img1{width: 95px !important;}
  .img2{width: 100px !important;}
  .img3{width: 130px !important;}

}
  

    
